<header>
  <mat-toolbar>
    <span>SRM</span>
    <span class="spacer"></span>
    <div>
      <div></div>
      <div>
        <button mat-icon-button color="primary">
          <mat-icon>sync</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon matBadge="4" [matMenuTriggerFor]="menu" color="primary"
            >person</mat-icon
          >
        </button>

        <mat-menu yPosition="below" #menu="matMenu">
          <button mat-menu-item>Personal Cabinet</button>
          <button mat-menu-item>Tasks</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
</header>
<main>
  <nav></nav>
  <aside>
    <router-outlet></router-outlet>
  </aside>
</main>
