.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.card {
  max-height: min(600px, 90vh);
  max-width: min(500px, 80vw);
  min-width: min(450px, 80vw);
}

.form-item {
  margin-top: 15px;
}

.form-input {
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
